ul class="nav navbar-nav"
  li= link_to('<span class="glyphicon glyphicon-home"></span> 首页'.html_safe, root_path)
  li= link_to('<span class="glyphicon glyphicon-comment"></span> 设计说明'.html_safe, about_path)
  - if can?(:manager,current_user)
    li= link_to('<span class="glyphicon glyphicon-picture"></span> 图片管理'.html_safe, photos_path)
    li= link_to('<span class="glyphicon glyphicon-user"></span> 用户管理'.html_safe, users_path)



ul class="nav navbar-nav navbar-right"
  - if current_user
    li= link_to('<span class="glyphicon glyphicon-cog"></span> 设置'.html_safe, edit_user_registration_path)
    li= link_to('<span class="glyphicon glyphicon-off"></span> 注销'.html_safe, destroy_user_session_path, method: 'delete')
  - else
    li= link_to('<span class="glyphicon glyphicon-log-in"></span> 登陆'.html_safe, new_user_session_path)
    li= link_to('<span class="glyphicon glyphicon-saved"></span> 注册'.html_safe, new_user_registration_path)
